<h4>Fußweg</h4>
<agm-map [latitude]="(origin.coordinates.latitude + destination.coordinates.latitude)/2"
         [longitude]="(origin.coordinates.longitude + destination.coordinates.longitude)/2"
         [zoom]="15"
         [ngStyle]="{ height: '250px', width: '90%'}">
  <agm-polyline>
    <agm-polyline-point [latitude]="origin.coordinates.latitude" [longitude]="origin.coordinates.longitude">
    </agm-polyline-point>
    <agm-polyline-point [latitude]="destination.coordinates.latitude" [longitude]="destination.coordinates.longitude">
    </agm-polyline-point>
  </agm-polyline>
</agm-map>
