.header-image > img {
  width: 40px;
  height: 40px;
}

div.card-map {
  width: calc(100% + 48px);
  height: 250px;
  margin-right: -24px !important;
  margin-left: -24px !important;
}

agm-map {
  width: 100%;
  height: 250px;
}
