<div fxLayout="row" class="colored box">
  <div fxFlex>
    <md-card class="example-card">
      <md-card-header>
        <img md-card-avatar src="/assets/vbb.png">
        <md-card-title>VBB Fahrinfo</md-card-title>
        <md-card-subtitle>Öffentliche Verkehrsverbindungen</md-card-subtitle>
      </md-card-header>
      <div class="card-map" *ngIf="position">
        <agm-map [latitude]="position.coords.latitude" [longitude]="position.coords.longitude" [disableDefaultUI]="false" [zoomControl]="false" [zoom]="13">
          <agm-marker [latitude]="position.coords.latitude" [longitude]="position.coords.longitude" [label]="'Ihr Standort'">
      </agm-marker>
        </agm-map>
      </div>
      <md-card-actions>
        <button md-button routerLink="/public-transport/routes">Verbindungssuche</button>
        <button md-button routerLink="/public-transport/departures">Abfahrtsmonitor</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
