<div fxLayout="row" class="colored box">
  <div fxFlex="23" fxFlexOffset="2">
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Titel der Karte</md-card-title>
        <md-card-subtitle>Untertitel</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="http://placehold.it/350x150">
      <md-card-content>
        <p>
          Lorem Imsum Dolor sit amet...
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>Button 1</button>
        <button md-button>Button 2</button>
      </md-card-actions>
    </md-card>
  </div>
  <div fxFlex="23" fxFlexOffset="2">  Card2  </div>
  <div fxFlex="23" fxFlexOffset="2">  Card3  </div>
  <div fxFlex="23" >                  Card4  </div>
</div>
