i.red {
  color: #e20619;
}

span.arrival{
  float: right;
}

.service-icon {
  width: 40px;
  float: right;
}

.route-departure {
  clear: both;
}

.dashed {
  border-bottom: 2px dotted #333333;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
