<div fxLayout="row" fxLayoutAlign="space-between start">
  <div fxFlex="50">
    <hs-location-search (selectedLocation)="setLocation($event, 'from')" [title]="'Abfahrt'"></hs-location-search>
  </div>
  <div fxFlex="50">
    <hs-location-search (selectedLocation)="setLocation($event, 'to')" [title]="'Ankunft'"></hs-location-search>
  </div>
</div>
<p></p>
<div *ngIf="from && to">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let route of routes$ | async as routes; last as l; index as i; first as f" [expanded]="f" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4>{{ route.origin.name }}</h4>
        </mat-panel-title>
        <mat-panel-title>
          <h4>{{ route.destination.name }}</h4>
        </mat-panel-title>
        <mat-panel-description>
          ab {{ route.departure | date:'shortTime' }}
        </mat-panel-description>
        <mat-panel-description>
          an {{ route.arrival | date:'shortTime' }}
        </mat-panel-description>
        <mat-panel-description>
          Dauer: {{ getDuration(route.departure, route.arrival) }}
          <hs-service-icon-row [products]="getAllProducts(route)"></hs-service-icon-row>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <hs-route-details [route]="route"></hs-route-details>

    </mat-expansion-panel>
  </mat-accordion>
</div>






