<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-input-container>
      <input matInput
            placeholder="Station oder Adresse"
            [formControl]="locationCtrl"
            [matAutocomplete]="auto">
    </mat-input-container>

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displaySelectedLocation">
      <mat-option *ngFor="let location of locationList$ | async as locationList" [value]="location">
        {{ location.name }} <hs-service-icon-row [products]="location?.products"></hs-service-icon-row>
      </mat-option>
    </mat-autocomplete>
  </mat-card-content>
</mat-card>


