<img *ngIf="products && products.suburban" class="service-icon" src="/assets/service-icons/sbahn.jpg">
<img *ngIf="products && products.subway" class="service-icon" src="/assets/service-icons/ubahn.jpg">
<img *ngIf="products && products.tram" class="service-icon" src="/assets/service-icons/tram.jpg">
<img *ngIf="products && products.bus" class="service-icon" src="/assets/service-icons/bus.jpg">
<img *ngIf="products && products.ferry" class="service-icon" src="/assets/service-icons/ferry.jpg">
<img *ngIf="products && products.express" class="service-icon" src="/assets/service-icons/express-bus.jpg">
<img *ngIf="products && products.regional" class="service-icon" src="/assets/service-icons/bahn.jpg">
