<mat-accordion [multi]="true">
  <mat-expansion-panel hideToggle="true"
                      *ngFor="let light of lights"
                      [disabled]="!light.state.reachable">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>{{ light.name }}</h3>
      </mat-panel-title>

      <mat-panel-description>
        <mat-icon [color]="light.state.on ? 'primary' : 'warn'" *ngIf="light.state.reachable">lightbulb_outline</mat-icon>
        <mat-icon *ngIf="!light.state.reachable">highlight_off</mat-icon>
      </mat-panel-description>

    </mat-expansion-panel-header>

    <mat-slide-toggle [checked]="light.state.on"
                    (change)="onOff($event, light.id)">Status</mat-slide-toggle>

    <div *ngIf="light.state.on">

      <h3>Einstellungen</h3>

      <mat-radio-group [(ngModel)]="colorModel">
        <mat-radio-button value="color" [disabled]="!(light.state.sat && light.state.hue)">Farbe</mat-radio-button>
        <mat-radio-button value="colorloop" [disabled]="!(light.state.sat && light.state.hue)">Farbwechsel</mat-radio-button>
        <mat-radio-button value="temperature">Temperatur</mat-radio-button>
      </mat-radio-group>

      <div *ngIf="colorModel === 'color'">
        <h4>Farbton</h4>
        <mat-slider [min]="0" [max]="65536" [step]="1" [(ngModel)]="light.state.hue"></mat-slider>

        <h4>Sättigung</h4>
        <mat-slider [min]="0" [max]="255" [step]="1" [(ngModel)]="light.state.sat"></mat-slider>
      </div>

      <div *ngIf="colorModel === 'temperature'">
          <h4>Farbtemperatur</h4>
          <mat-slider [min]="153" [max]="500" [step]="1" [(ngModel)]="light.state.ct"></mat-slider>
      </div>

      <div *ngIf="light.state.bri">
        <h4>Helligkeit</h4>
        <mat-slider [min]="0" [max]="255" [step]="1" [(ngModel)]="light.state.bri"></mat-slider>
      </div>
    </div>

    <mat-action-row>
      <button mat-button color="primary" (click)="save(light.id, colorModel)">Speichern</button>
    </mat-action-row>

  </mat-expansion-panel>

</mat-accordion>
