<div class="timeline-container">
   <div class="timeline timeline-right" *ngFor="let part of route.parts">
      <div class="marker"></div>
      <div class="timeline-content">
         <div fxLayout="row">
          <div fxFlex fxFlexAlign="center">
            <h4 *ngIf="part.type !== 'walking'; else fromAddress">{{ part.from.name }}</h4>
            <ng-template #fromAddress>
              <hs-walking-map [from]="part.from" [to]="part.to"></hs-walking-map>
            </ng-template>
            <h4>{{ part.to.name }}</h4>
          </div>
          <div fxFlex="15" fxFlexAlign="center">
            <p>ab {{ part.start | date:'shortTime' }}</p>
            <p>an {{ part.end | date:'shortTime' }}</p>
          </div>
          <div fxFlex="15" fxFlexAlign="center">
            <p>Dauer:</p>
            <p>{{ getDuration(part.start, part.end) }} Min.</p>
          </div>
          <div fxFlex="20" fxFlexAlign="center">
            <hs-service-icon-row [products]="getProduct(part)"></hs-service-icon-row>
          </div>
        </div>
      </div>
   </div>
</div>
