<div class="timeline-container">
   <div class="timeline timeline-right" *ngFor="let part of route.parts">
      <div class="marker"></div>
      <div class="timeline-content">
         <div fxLayout="row">
          <div fxFlex fxFlexAlign="center">
            <h4 *ngIf="part.mode !== 'walking'; else fromAddress">{{ part.origin.name }}</h4>
            <ng-template #fromAddress>
              <hs-walking-map [origin]="part.origin" [destination]="part.destination"></hs-walking-map>
            </ng-template>
            <h4>{{ part.direction }}</h4>
          </div>
          <div fxFlex="15" fxFlexAlign="center">
            <p>ab {{ part.departure | date:'shortTime' }}</p>
            <p>an {{ part.arrival | date:'shortTime' }}</p>
          </div>
          <div fxFlex="15" fxFlexAlign="center">
            <p>Dauer:</p>
            <p>{{ getDuration(part.departure, part.arrival) }} Min.</p>
          </div>
          <div fxFlex="20" fxFlexAlign="center">
            <hs-service-icon-row [products]="getProduct(part)"></hs-service-icon-row>
          </div>
        </div>
      </div>
   </div>
</div>
